.searchbar {
  text-align: center;
  margin: 5px;
  height: 40px;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(119, 106, 154, 0.5);
  font-size: 15px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.searchbar:hover {
  box-shadow: 0px 2px 55px rgba(76, 108, 215, 0.5);
}

.options {
  height: 42px;
  margin: 20px;
  border-radius: 10px;
  width: 80px;
  font-size: 15px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.options:hover {
  box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.5);
}


.categories{
  margin:20px;
  padding: 10px;
  border-radius: 10px;
  
}

.btnSearch {
  background: black;
  margin: 10px;
  height: 40px;
  width: 80px;
  font-size: 15px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.btnSearch:hover {
  box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.5);
  height: 45px;
  width: 85px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  background: linear-gradient(rgb(40, 39, 46), rgb(11, 9, 9));
  color: white;
}

.button {
  background-color: #1d0035;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  margin-top: 20px;
  border-radius: 10px;
}

.centrePROM {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
  padding-top: 200px;
}

h1 {
  color: white;
}
