

.style{
display:inline-block;
background-color: rgb(58, 52, 80);
margin-left: auto;
margin-right: auto;
display: grid;
height:  88vh;
width: 700px;
border-radius: 20px;
}



.artistPic{
   
display: block;
margin-left: auto;
margin-right: auto;
height: 190px;  
border-radius: 10px;
box-shadow: 0 4px 20px rgba(91, 143, 220, 0.5);
}

.artistName {
    text-align: center;

    color: rgb(255, 255, 255);
    font:  small-caps bold 22px/50px Georgia, serif;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top:30px;
    
    }

    .artistInfo {
        text-align: center;
        color: rgb(255, 255, 255);
        font:  small-caps bold 22px/50px Georgia, serif;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top:30px;
        
        }