.login {
    display: grid;
    grid-row-gap: 0px;
    place-items: center;
    height: 100vh;
    
    background: linear-gradient(rgb(0, 0, 0) 80%, rgb(40, 1, 85)) 20%;
  }
  
  .login > img {
    margin-top: 150px;
    width: 380px;
    height: 300px;
  }
  
  .login > a {
    margin-bottom: 200px;
    padding: 20px;
    border-radius: 99px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: #f7b423;
  }