
.searchbar{
    
    text-align: center;
    margin: 0px;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 5px;
    height: 40px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(119, 106, 154, 0.5);
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
  
    
}

.searchbar:hover{
box-shadow: 0px 2px 55px rgba(76, 108, 215, 0.5);

}

.options{

height: 42px;
margin: 20px;
border-radius: 10px;
width: 80px;
font-size: 15px;
font-family: "Lucida Console", "Courier New", monospace;

}

.options:hover{
box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.5);

}

.btnSearch{
background: black;
height: 40px;
width: 80px;
font-size: 15px;
font-family: "Lucida Console", "Courier New", monospace;
color:white;
border-radius: 10px;
cursor: pointer;
transition: 200ms color ease-in;

}

.btnSearch:hover{
box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.5);
height: 45px;
width: 85px;
}

.logo{

display: block;
  margin-left: auto;
  margin-right: auto;


height: 140px;

}

.footer{

  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background: linear-gradient( rgb(40, 39, 46),rgb(11, 9, 9));
  color: white;
}

.button {
  background-color: #061465;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 20px;
  border-radius: 10px;
}